<h1>AspNetCore API Sample</h1>
<p>Bem vindo à aplicação desenvolvida como exemplo/exercício de implementação de um sistema de cadastro de usuários. Este sistema utiliza:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> e <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> como Back-end.</li>
  <li><a href='https://angular.io/'>Angular</a> e <a href='http://www.typescriptlang.org/'>TypeScript</a> como Front-end</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> para estilização e layout.</li>
</ul>
<p>O sistema suporta as seguintes funcionalidades:</p>
<ul>
  <li><strong>Swagger</strong>: É utilizado para acessar a API de forma <em>independente</em> do Front-end, possibilitando visualizar e utilizar todas as rotas disponíveis</li>
  <li><strong>Usuários</strong>: É um componente que lista todos os usuários do sistema, além de realizar inclusões, edições e exclusões de usuários. Existem permissões especiais para acessar essas funcionalidades.</li>
</ul>
