<!-- Header da listagem de usuários -->
<div class="row">

  <!-- Título do componente -->
  <div class="col">
    <h2>Usuários</h2>
  </div>

  <!-- Botão de criação de novo usuário -->
  <div class="col-auto">
    <button
      type="submit"
      class="btn btn-primary">
      Novo Usuário
    </button>
  </div>
</div>

<!-- Linha horizontal -->
<hr />

<!-- Formulário de filtros da busca de usuários -->
<form>
  <div class="">

    <!-- Filtro de Código -->
    <div class="form-group">
      <label [for]="'codigo'" [innerHtml]="'Código'"></label>
      <input
        class="form-control"
        [id]="'codigo'"
        />
    </div>

    <!-- Filtro de Nome -->
    <div class="form-group">
      <label [for]="'nome'" [innerHtml]="'Nome'"></label>
      <input
        class="form-control"
        [id]="'nome'"
        />
    </div>

    <!-- Filtro de Email -->
    <div class="form-group">
      <label [for]="'email'" [innerHtml]="'E-mail'"></label>
      <input
        class="form-control"
        [id]="'email'"
        />
    </div>
  </div>
</form>

<!-- Header da listagem de usuários -->
<div class="row">

  <!-- Botão de criação de novo usuário -->
  <div class="col">
    <button
      type="submit"
      class="btn btn-primary">
      Filtrar
    </button>
  </div>
</div>
